---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import SpeedLogo from "../../assets/icons/speed.svg";
import PuzzleIcon from "../../assets/icons/puzzle.svg";
import DjangoIcon from "../../assets/icons/brand-django.svg";
import MessageIcon from "../../assets/icons/messages.svg";
import BulbIcon from "../../assets/icons/bulb.svg";
import TargetIcon from "../../assets/icons/target-arrow.svg";

interface Approach {
    icon: ImageMetadata;
    title: string;
    description: string;
}
const heading = "A Synergistic Approach to Fulfilling Your Dreams";
const subheading =
    "Synergy at its best: We merge your dreams with our expertise, crafting a future you envision through collaborative innovation";
const approaches: Approach[] = [
    {
        icon: SpeedLogo,
        title: "Minimal Tech Stack for Speed",
        description:
            "We harness the power of technology like Django, paired with progressive enhancement libraries, to move swiftly. Our approach ensures fast-paced development without compromising on quality.",
    },
    {
        icon: PuzzleIcon,
        title: "Accelerated Development with Pre-Built Components",
        description:
            "Time is of the essence, and that's why we leverage pre-built components like Bootstrap and Daisy UI. This accelerates development, allowing you to reach the market faster and with a competitive edge.",
    },
    {
        icon: DjangoIcon,
        title: "Django: Your Ally for Rapid App Development",
        description:
            "Our choice of Django as a framework is strategic. It's designed for speed, helping us save your valuable time and resources while delivering exceptional results.",
    },
    {
        icon: MessageIcon,
        title: "Client-Centric Communication",
        description:
            "We understand the importance of effective communication. We go the extra mile by offering daily meetings if needed, ensuring that your vision is crystal clear to us and our developers.",
    },
    {
        icon: BulbIcon,
        title: "Collaborative Ideation",
        description:
            "We believe in collaborative ideation. Your ideas are the foundation of our projects, and we work closely with you to refine and enhance them, ensuring they are brought to life as you envisioned.",
    },
    {
        icon: TargetIcon,
        title: "Constant Alignment with Your Vision",
        description:
            "Throughout the development journey, our commitment is to align our work with your vision. We don't rest until we are convinced that the idea in your mind is accurately translated into our development process. Your satisfaction is our top priority.",
    },
];
---

<section id="approach">
    <div
        class="mx-auto mt-12 w-full max-w-7xl scroll-mt-24 items-center px-8 py-24 md:px-12 lg:px-24">
        <div class="mx-auto max-w-2xl text-center">
            <div>
                <p
                    class="text-4xl font-extrabold tracking-tighter text-black lg:text-5xl">
                    {heading}
                </p>
            </div><p
                class="mx-auto mt-4 max-w-xl text-lg tracking-tight text-gray-500">
                {subheading}
            </p>
        </div>
    </div>
    <div>
        <div class="mx-auto max-w-7xl pt-10">
            <h2 class="sr-only">Our Approach</h2><div>
                <div
                    class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3 lg:space-y-0">
                    {
                        approaches.map((approach) => (
                            <div>
                                <div>
                                    <div class="text-accent-500 flex h-10 w-10 items-center justify-center rounded-xl bg-gray-100">
                                        <Image
                                            src={approach.icon}
                                            alt=""
                                            width={20}
                                            height={20}
                                        />
                                    </div>
                                    <p class="font-display mt-4 text-lg font-semibold leading-6 tracking-tight text-black">
                                        {approach.title}
                                    </p>
                                </div>
                                <div class="mt-4 text-sm text-gray-500">
                                    {approach.description}
                                </div>
                            </div>
                        ))
                    }
                </div>
            </div>
        </div>
    </div>
</section>
